<!DOCTYPE html>
<html lang="fa" class="light-style layout-menu-fixed" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>@ViewBag.Title</title>

    <meta name="description" content="حسابداری" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Admin/img/favicon/favicon.ico" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/Admin/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/Admin/vendor/css/core.css" />
    <link rel="stylesheet" href="~/Admin/vendor/css/theme-default.css" />
    <link rel="stylesheet" href="~/Admin/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/Admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <partial name="~/Pages/Shared/_MenuPartial.cshtml" />
            <div class="layout-page">
                <!--Navbar-->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center" style="width:50%;">
                            <div class="nav-item d-flex align-items-center" style="width:100%;">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text"
                                       class="form-control border-0 shadow-none"
                                       placeholder="Search..."
                                       aria-label="Search..." />
                            </div>
                        </div>
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center me-auto">
                            <!-- Place this tag where you want the button to render. -->
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="#" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="~/Admin/img/avatars/1.png" alt="آواتار" class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 ms-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="~/Admin/img/avatars/1.png" alt="آواتار" class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">علی جبالی</span>
                                                    <small class="text-muted">مدیر</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-user ms-2"></i>
                                            <span class="align-middle">پروفایل</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-cog ms-2"></i>
                                            <span class="align-middle">تنظیمات</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="auth-login-basic.html">
                                            <i class="bx bx-power-off ms-2"></i>
                                            <span class="align-middle">خروج</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                <!--End of Navbar-->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Core JS -->
    <script src="~/Admin/vendor/libs/jquery/jquery.js"></script>
    <script src="~/Admin/vendor/js/bootstrap.js"></script>
    <script src="~/Admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Admin/vendor/js/menu.js"></script>

    <!-- Main JS -->
    <script src="~/Admin/js/main.js"></script>


    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script async src="~/Admin/js/scripts.js" asp-append-version="true"></script>

    @RenderSection("Scripts",false)
</body>
</html>