<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"]</title>
    <meta content="@ViewData["Description"]" name="description">

    <!-- Favicons -->
    <link href="~/img/favIcon.png" rel="icon">

    <!-- Google Fonts -->

    <!-- ~/vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
</head>

<body>

    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="social-links">
                <a href="https://t.me/Aliajboy" class="telegram"><i class="bx bxl-telegram"></i></a>
                <a href="https://www.instagram.com/aj.webdeveloper/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://ir.linkedin.com/in/ali-jebali-633214247" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/aliajboy" class="github"><i class="bx bxl-github"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- ~/vendor JS Files -->
    <script src="~/vendor/aos/aos.js" async></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/typed.js/typed.umd.js" async></script>
    <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/vendor/Jquery/JQuery-3.7.1.js" defer></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js" async></script>
    <script src="~/js/ajax.js" asp-append-version="true" defer></script>

</body>

</html>